In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 100

# Importing dataset

In [2]:
direc="/home/angps/Documents/WorldCupPrediction/dataset/"
rankings = pd.read_csv(direc + 'fifa_ranking.csv')
matches = pd.read_csv(direc + 'results.csv')
squads = pd.read_csv(direc + '2018 FIFA World Cup Squads.csv')

In [3]:
rankings = rankings[rankings["rank_date"]>="2011-08-24"]
rankings = rankings.replace({"IR Iran":"Iran","Korea Republic":"South Korea"})
rankings = rankings.loc[rankings["country_full"].isin(list(squads["Team"]))]
rankings=rankings.drop(["country_abrv","confederation"],axis=1)
rankings["rank_date"] = rankings["rank_date"].apply(lambda x: x[:-3])
rankings.reset_index(inplace=True,drop=True)
rankings.head()

,rank,country_full,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,rank_date
0,2,Spain,1563.45,1588,-1,589.59,589.59,1074.04,537.02,796.81,239.04,989.00,197.80,2011-08
1,3,Germany,1329.86,1305,0,617.83,617.83,860.14,430.07,504.02,151.21,653.74,130.75,2011-08
2,4,England,1176.88,1146,2,588.08,588.08,620.77,310.38,629.50,188.85,447.85,89.57,2011-08
3,5,Uruguay,1174.34,1156,0,599.26,599.26,756.29,378.15,415.70,124.71,361.09,72.22,2011-08
4,6,Brazil,1156.01,1202,-2,386.00,386.00,756.76,378.38,968.33,290.50,505.63,101.13,2011-08

In [4]:
matches=matches[matches["date"]>="2011-08-24"]  #rankings available 1993/08/08 onwards
matches.reset_index(inplace=True,drop=True)
matches =  matches.replace({'Germany DR': 'Germany',"Korea Republic":"South Korea"})
matches=matches[matches["home_team"].isin(list(rankings["country_full"])) & matches["away_team"].isin(list(rankings["country_full"]))]
#matches["date"] = pd.to_datetime(matches["date"])
matches["date"] = matches["date"].apply(lambda x:x[:-3])
matches["impt"] = np.where(matches["tournament"]!="Friendly",1,0)  #1 if impt (non-friendly)
matches["neutral"] = np.where(matches["neutral"]==False,0,1)   #1 if neutral stadium
matches["country"]=np.where(matches["neutral"]==1,0,np.where(matches["country"]==matches["home_team"],2,1))  #0 -neutral, 1-away team, 2- home team
matches = matches.drop(["city","tournament"],axis=1)
matches.reset_index(inplace=True,drop=True)
matches.head()

,date,home_team,away_team,home_score,away_score,country,neutral,impt
0,2011-09,Poland,Mexico,1,1,2,0,0
1,2011-09,Argentina,Nigeria,3,1,0,1,0
2,2011-09,Poland,Germany,2,2,2,0,0
3,2011-09,Saudi Arabia,Australia,1,3,2,0,1
4,2011-09,Argentina,Brazil,0,0,2,0,0

In [5]:
for i in matches.index:
    for j in rankings.index:
        if rankings.loc[j,"country_full"]==matches.loc[i,"home_team"] and rankings.loc[j,"rank_date"]==matches.loc[i,"date"]:
            matches.loc[i,"home_ranking"] = rankings.loc[j,"rank"]
            matches.loc[i,"home_total_points"] = rankings.loc[j,"total_points"]
            matches.loc[i,"home_prev_points"] = rankings.loc[j,"previous_points"]
            matches.loc[i,"home_rank_change"] = rankings.loc[j,"rank_change"]
            matches.loc[i,"home_cur_year_avg_weighted"] = rankings.loc[j,"cur_year_avg_weighted"]
            matches.loc[i,"home_last_year_avg_weighted"] = rankings.loc[j,"last_year_avg_weighted"]
            matches.loc[i,"home_2_year_avg_weighted"] = rankings.loc[j,"two_year_ago_weighted"]
            matches.loc[i,"home_3_year_avg_weighted"] = rankings.loc[j,"three_year_ago_weighted"]
            break
for i in matches.index:
    for j in rankings.index:
        if rankings.loc[j,"country_full"]==matches.loc[i,"away_team"] and rankings.loc[j,"rank_date"]==matches.loc[i,"date"]:
            matches.loc[i,"away_ranking"] = rankings.loc[j,"rank"]
            matches.loc[i,"away_total_points"] = rankings.loc[j,"total_points"]
            matches.loc[i,"away_prev_points"] = rankings.loc[j,"previous_points"]
            matches.loc[i,"away_rank_change"] = rankings.loc[j,"rank_change"]
            matches.loc[i,"away_cur_year_avg_weighted"] = rankings.loc[j,"cur_year_avg_weighted"]
            matches.loc[i,"away_last_year_avg_weighted"] = rankings.loc[j,"last_year_avg_weighted"]
            matches.loc[i,"away_2_year_avg_weighted"] = rankings.loc[j,"two_year_ago_weighted"]
            matches.loc[i,"away_3_year_avg_weighted"] = rankings.loc[j,"three_year_ago_weighted"]
            break
matches["diff_in_ranking"]=matches["home_ranking"]-matches["away_ranking"]
matches["home_mean_weighted_over_years"] = (matches["home_cur_year_avg_weighted"]+matches["home_last_year_avg_weighted"]+
                                            matches["home_2_year_avg_weighted"]+matches["home_3_year_avg_weighted"])/4
matches["away_mean_weighted_over_years"] = (matches["away_cur_year_avg_weighted"]+matches["away_last_year_avg_weighted"]+
                                            matches["away_2_year_avg_weighted"]+matches["away_3_year_avg_weighted"])/4
matches["diff_in_mean_weighted_over_years"] = matches["home_mean_weighted_over_years"]  - matches["away_mean_weighted_over_years"]
matches["Result"] = np.where(matches["home_score"]-matches["away_score"]==0,1,
                             np.where(matches["home_score"]-matches["away_score"]>0,2,0))  #0-away win,1-draw,2-home win

matches.head()

,date,home_team,away_team,home_score,away_score,country,neutral,impt,home_ranking,home_total_points,home_prev_points,home_rank_change,home_cur_year_avg_weighted,home_last_year_avg_weighted,home_2_year_avg_weighted,home_3_year_avg_weighted,away_ranking,away_total_points,away_prev_points,away_rank_change,away_cur_year_avg_weighted,away_last_year_avg_weighted,away_2_year_avg_weighted,away_3_year_avg_weighted,diff_in_ranking,home_mean_weighted_over_years,away_mean_weighted_over_years,diff_in_mean_weighted_over_years,Result
0,2011-09,Poland,Mexico,1,1,2,0,0,65.0,495.53,498.0,0.0,265.17,69.30,103.32,57.74,20.0,866.38,864.0,0.0,485.18,166.50,142.41,72.29,45.0,123.8825,216.5950,-92.7125,1
1,2011-09,Argentina,Nigeria,3,1,0,1,0,10.0,1024.16,1017.0,-1.0,369.67,422.60,136.81,95.08,43.0,613.45,659.0,-5.0,237.32,203.51,90.37,82.25,-33.0,256.0400,153.3625,102.6775,2
2,2011-09,Poland,Germany,2,2,2,0,0,65.0,495.53,498.0,0.0,265.17,69.30,103.32,57.74,3.0,1289.99,1330.0,0.0,557.21,460.73,148.20,123.85,62.0,123.8825,322.4975,-198.6150,1
3,2011-09,Saudi Arabia,Australia,1,3,2,0,1,97.0,359.41,372.0,-10.0,138.11,100.13,61.61,59.56,19.0,881.63,837.0,3.0,422.74,225.90,148.18,84.81,78.0,89.8525,220.4075,-130.5550,0
4,2011-09,Argentina,Brazil,0,0,2,0,0,10.0,1024.16,1017.0,-1.0,369.67,422.60,136.81,95.08,7.0,1131.52,1156.0,-1.0,377.18,331.71,313.65,108.98,3.0,256.0400,282.8800,-26.8400,1

In [6]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 456 entries, 0 to 455
Data columns (total 29 columns):
date                                456 non-null object
home_team                           456 non-null object
away_team                           456 non-null object
home_score                          456 non-null int64
away_score                          456 non-null int64
country                             456 non-null int64
neutral                             456 non-null int64
impt                                456 non-null int64
home_ranking                        456 non-null float64
home_total_points                   456 non-null float64
home_prev_points                    456 non-null float64
home_rank_change                    456 non-null float64
home_cur_year_avg_weighted          456 non-null float64
home_last_year_avg_weighted         456 non-null float64
home_2_year_avg_weighted            456 non-null float64
home_3_year_avg_weighted            456 non-null float64
away_ranking                        456 non-null float64
away_total_points                   456 non-null float64
away_prev_points                    456 non-null float64
away_rank_change                    456 non-null float64
away_cur_year_avg_weighted          456 non-null float64
away_last_year_avg_weighted         456 non-null float64
away_2_year_avg_weighted            456 non-null float64
away_3_year_avg_weighted            456 non-null float64
diff_in_ranking                     456 non-null float64
home_mean_weighted_over_years       456 non-null float64
away_mean_weighted_over_years       456 non-null float64
diff_in_mean_weighted_over_years    456 non-null float64
Result                              456 non-null int64
dtypes: float64(20), int64(6), object(3)
memory usage: 103.4+ KB

In [7]:
matches.to_csv("cleaned_matches.csv")